environment=TestURL
browser=chrome

implicitWaitTime=10
webdriverWaitTime=30

base.url = http://automationpractice.com/index.php

attachmentPath = /src/test/resources/data/attachment.txt
downloadFilePath = \\src\\test\\resources\\download